<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>La Web del Café</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
  <link rel="stylesheet" href="../assets/css/style.css">
</head>

<body class="gridd-container">

  <!--Seccion de destkop-1-->
  <section class="seccion-destkop1">
    <a href="./dashboard.html" class="link-light text-decoration-none px-2">Admin</a>
    <!--seccion del header-->
    <header class="seccion-header contenedor">
      <div class="logo">
        <img src="../assets/images/Logo.png" alt="logo de la pagina" class="logo-img">
      </div>
      <div class="navegacion">
        <nav class="navbar">
          <a href="./index.html">Inicio</a>
          <a href="#contacto">Contacto</a>
          <a href="#nosotros">Nosotros</a>
          <a href="./productos.html">Menu</a>
        </nav>
        <div class="navegacion-btn" id="colornav">
          <a href="./registrarse.html" class="btn btn-outline-success">Registrarse</a>
          <a href="./iniciar-sesion.html" class="btn btn-outline-success">Iniciar sesion</a>

        </div>
      </div>
    </header>
    <div class="mirar">
      <h1>Mira nuestros productos aca</h1>
      <a href="./productos.html" class="btn-mirar">Mirá</a>
    </div>


  </section>

  <!--Seccion sobre nosotros (parte 1 del destkop-2)-->
  <section class="seccion-fondo">
    <div class="seccion-sobrenosotros contenedor">
      <article class="art-nosotros">
        <h1>Sobre nosotros</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio excepturi minima, dolore odit repellendus eaque
          voluptas doloribus
          suscipit nulla corrupti ipsa et culpa dolorum error tempora omnis quia sit ratione!
        </p>
      </article>

      <div class="galeria">
        <div class="imagen">
          <img src="../assets/images/4.jpg" alt="imagen galeria">
        </div>
        <div class="imagen">
          <img src="../assets/images/21.jpg" style="height: 100%;" alt="imagen galeria">
        </div>
        <div class="imagen">
          <img src="../assets/images/18.jpg" alt="imagen galeria">
        </div>
        <div class="imagen">
          <img src="../assets/images/12.jpg" alt="imagen galeria">
        </div>
      </div>
    </div>
  </section>

  <!--Seccion de galeria (parte 2 del destkop-2)-->
  <section class="seccion-galeria">
    <h1>Galeria</h1>
    <!--definir carrusel-->
  </section>
  <!--Seccion de productos (destkop-3)-->
  <section class="seccion-productos contenedor">
    <div class="productos-grid">
      <h1>Productos Destacados</h1>
     <div class="productos-1">
        <div class="productos-card">
          <img src="../assets/images/malteada.jpg" alt="producto-1">
          <h4>Malteada</h4>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos corporis hic maxime facere laboriosam sunt
            sed
          </p>
        </div>
        <div class="productos-card">
          <img src="../assets/images/tartaFrutilla.jpg" alt="producto-4">
          <h4>Tarta de Frutilla</h4>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos corporis hic maxime facere laboriosam sunt
            sed
          </p>
        </div>
        <div class="productos-card">
          <img src="../assets/images/cafe-leche.jpg" alt="producto-2">
          <h4>Café con Leche</h4>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos corporis hic maxime facere laboriosam sunt
            sed
          </p>
        </div>
        <div class="productos-card">
          <img src="../assets/images/croissant.jpg" alt="producto-3">
          <h4>Croissant</h4>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos corporis hic maxime facere laboriosam sunt
            sed
          </p>
        </div>
      </div>
    </div>
    <div class="productos-2">
    </div>
    </section>
  <!--Seccion de formulario (destko-4)-->
  <section id="fondoform">
    <div class="d-flex flex-column flex-md-row" id="divform">
      <form action="">
        <div class="row mb-3">
          <div class="col-6">
            <input type="text" class="form-control" placeholder="Nombre" required>
          </div>
          <div class="col-6">
            <input type="text" class="form-control" placeholder="Apellido" required>
          </div>
          <div>
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email" required>
          </div>
          <div class="col-12">
            <textarea cols="30" rows="10" class="form-control font-size-lg" placeholder="¿Sobre qué quieres hablar?"
              required></textarea>
          </div>
        </div>
        <div class="col">
          <button id="btnform" type="submit" class="w-100 btn text-white">Enviar</button>
        </div>
      </form>
      <div>
        <img src="../assets/images/25.jpg" alt="" id="imgform">
      </div>
    </div>
  </section>
  <!--Seccion de pie de página-->
  <footer>
    <div class="seccion-footer">

      <img src="../assets/images/Logo-black.png" alt="">

      <ul>
        <h3>Sobre nosotros</h3>
        <a href="#">Quienes somos</a><br>
        <a href="#">Contactos</a><br>
        <a href="#">Socios</a><br>
      </ul>

      <ul>
        <h3>Productos</h3>
        <a href="#">Visión general</a><br>
        <a href="#">Características</a><br>
        <a href="#">Precios</a><br>
        <a href="#">Lanzamientos </a><br>
      </ul>

      <ul>
        <h3>Legal</h3>
        <a href="#">Política de Cookies</a><br>
        <a href="#">Política de privacidad</a><br>
        <a href="#">Términos de servicio</a><br>
      </ul>

      <ul>
        <h3>Síguenos</h3>
        <a href="https://www.facebook.com/profile.php?id=100086461826372"> <span class="fb"><i
              class="fa-brands fa-facebook"></i></span> Facebook</a><br>
        <a href="https://twitter.com/LaWebdelCafe"> <span class="tw"><i class="fa-brands fa-twitter"></i></span>
          Twitter</a><br>

        <h3>Contacto</h3>
        <p>lawebdelcafe@gmail.com</p>
      </ul>

    </div>
    <div class="derechos">
      <p>© 2022 La Web del Café. Todos los derechos reservados 2022</p>
    </div>

  </footer>
</body>

</html>