.nosotrospage{
    background-image: linear-gradient(to bottom, #00000036, #0a0a0a9c),url(../images/6.jpg);
    background-size: cover;
    background-position: bottom;
}

.logo-img{
    height: 90px;
}
.contenido{
    margin-top: 10px;
    display: flex;
    flex-direction: column;   
    align-items: center;
    justify-content: center;
    color: white;
    gap: 10px;
    background-color: #0a0a0a9c;
}
.titulo{
    width: 40%;
    text-align: center;
}
.titulo > h1{
    font-size: 50px;
}
.historia{
    width: 60%;
    text-align: center;
}
.historia > p{
    font-size: 20px;
}