<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>La Web del Café</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
  <link rel="stylesheet" href="../models/css/style.css">
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-md container  index-1">
      <div class="container-fluid">
        <a href="#">
          <div class="container-logo">
          </div>
        </a>
        <button class="navbar-button">
          <i class="fa-solid fa-bars-staggered " style="color:white"></i>
        </button>
        <div class="collapse navbar-collapse justify-end">
          <ul class="navbar-nav ">
            <li class="nav-item">
              <a class="nav-link text-white active" href="#">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="#">Contacto</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="#">Nosotros</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link text-white dropdown-toggle" href="#" aria-expanded="false">
                Productos
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item text-white" href="#">Bebida</a></li>
                <li><a class="dropdown-item text-white" href="#">Comida</a></li>
              </ul>
            </li>
            <li class="nav-item ">
              <a class="btn btn-navbar " href="#">Login</a>
            </li>
            <li class="nav-item ">
              <a class="btn btn-navbar" href="#">Sign Up</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <video autoplay muted loop>
      <source src="./video.mp4" type="video/mp4">
    </video>
  </header>
  <main>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, deleniti dolores at laudantium, alias laborum
      vero officiis, non cupiditate facilis neque quaerat excepturi nesciunt fugit quas? Optio laborum, praesentium
      nobis repellat aperiam itaque autem! Dolores, pariatur, explicabo maxime, laboriosam ipsam voluptate neque fugit
      corrupti sint itaque sunt corporis a incidunt impedit excepturi? Illum dolores vero beatae repudiandae iure
      asperiores architecto. Accusamus hic corporis delectus aut reiciendis praesentium facilis assumenda saepe quaerat
      ratione dolores quis, deserunt nulla impedit itaque, ut eos. Porro nesciunt sunt itaque eum maxime ex quidem?
      Consectetur esse aspernatur architecto eum, harum perferendis sapiente sunt, inventore voluptates possimus
      similique sequi. Nesciunt perspiciatis, culpa maiores distinctio tempora nulla saepe accusamus itaque voluptatum
      incidunt voluptas consectetur, illo exercitationem dolorum repellendus sit voluptatibus similique voluptate. Qui
      reprehenderit rem, nobis velit saepe repudiandae dolorum, exercitationem, eveniet officia maxime illo ratione
      doloribus vero veniam distinctio. Quis laudantium accusantium facere aspernatur error dicta accusamus, explicabo
      odit fugiat animi id architecto reiciendis quidem expedita aliquam temporibus perferendis dignissimos laboriosam
      voluptates iusto, soluta nesciunt, dolorem cum adipisci. Voluptatibus vitae, mollitia illum nesciunt tenetur enim
      rerum ipsam ducimus suscipit libero tempora blanditiis dolores accusantium! Excepturi earum veritatis esse debitis
      tenetur laboriosam ex sapiente blanditiis laudantium dolores non, dolor enim praesentium nostrum necessitatibus
      eius facere ut perspiciatis repudiandae consectetur. Itaque eveniet neque, consequatur quidem eaque laudantium
      impedit quibusdam velit pariatur alias ab molestias et placeat. Inventore maxime exercitationem quisquam dolores
      quod sapiente, ex aut, deserunt odit esse eveniet. Facere unde officiis, dolor vel eius provident a qui natus
      ducimus cupiditate. Modi debitis obcaecati eaque similique laboriosam molestiae delectus distinctio perspiciatis
      incidunt totam enim dicta itaque nemo, repellat quibusdam excepturi illum ea quaerat dignissimos cupiditate
      fugiat. Dignissimos iste porro pariatur facilis repellat! Sed incidunt, molestias tempora a nam ad. Libero porro
      suscipit neque quam asperiores. Illo ad doloremque, molestias aliquid nesciunt consequatur ducimus ullam nobis
      eveniet facere vero alias vel iure, culpa totam id sed facilis est. Incidunt quia ut neque et nemo, omnis sit
      fugiat. Corporis id vel exercitationem amet vitae dolorum. Perspiciatis libero eos dignissimos fugiat quo! Numquam
      ex quaerat doloremque est dolor voluptates vitae laudantium. Facere aliquam voluptatem nemo dolor ipsam magnam eos
      suscipit corporis modi, placeat perferendis natus dolorum vel. Sequi, debitis cupiditate excepturi dolor quasi
      nulla assumenda, saepe praesentium aperiam mollitia sit adipisci id eligendi architecto atque, natus esse eos.
      Veritatis, odit! Totam unde nostrum deserunt autem rem quis quibusdam. Ex eveniet amet eligendi deserunt magni
      similique optio minima deleniti impedit ullam cum animi ratione distinctio, eaque doloremque nulla fugiat omnis
      veniam expedita non tempore, culpa ipsum! Officia culpa maxime animi ad dicta amet, dignissimos praesentium
      distinctio explicabo ipsa doloribus? Nemo quos maiores quod adipisci ipsam optio laborum quaerat, voluptatem
      aspernatur illo voluptates pariatur, minus corrupti quam amet rerum perferendis veritatis veniam beatae assumenda
      deserunt. Hic dolore repudiandae, minima illo, placeat aut quod eius, maxime saepe corrupti itaque magni commodi
      pariatur aliquam consectetur dicta. Perspiciatis optio voluptatum architecto adipisci numquam rem cum itaque
      quibusdam delectus ratione nesciunt soluta suscipit incidunt culpa, excepturi quas exercitationem dolore omnis
      quae voluptate quod reprehenderit vero. Corrupti, numquam ullam! Sit, ipsam. Id reiciendis incidunt ipsum? Cumque
      deserunt quod necessitatibus error animi doloremque esse aut ad, et, libero aspernatur vel tempora consequatur
      cupiditate fugit. Quaerat tempore non assumenda quas voluptatem numquam fuga maxime quis doloremque quae, ipsum
      natus dolor delectus. Doloremque rem, ipsa delectus, quisquam unde sed vitae harum fugiat et corrupti aperiam est
      totam vero nobis voluptatum illo? Nihil laborum similique nemo vel alias, accusantium illo quis debitis sapiente
      fugiat maxime explicabo error beatae aliquid dolor porro, modi sit vero minima veritatis enim eum neque itaque.
      Officiis accusamus dicta illum vitae laboriosam quo blanditiis quam corrupti ex? Dolore commodi perferendis
      distinctio id officia fugiat architecto vero, ratione, consectetur minima, nam nulla. Aliquid maxime provident est
      mollitia error fugiat assumenda iusto obcaecati. Corporis ipsam architecto reiciendis eaque, dolore ad, deleniti
      magnam temporibus, ab quibusdam non rem facilis. Minus neque, aliquid totam sequi provident, illo deserunt omnis
      tempora explicabo modi officiis. Nesciunt nemo tempore vitae, dolorum amet quae quod deleniti numquam ab quos
      perspiciatis doloremque quam debitis dignissimos natus eligendi eius voluptatem nam ipsum laborum rerum, delectus
      soluta! Nesciunt excepturi ab ratione qui cum perferendis dolor numquam dolorum, ut quis praesentium atque laborum
      illo mollitia inventore autem est, minima fugit! Quo assumenda perferendis animi atque quisquam provident
      voluptatum reprehenderit pariatur inventore saepe quas eaque natus distinctio iure magni voluptas, sequi
      exercitationem non eligendi quia odit eveniet cum illum totam. Sequi quia tempore rerum aspernatur, quo debitis
      ipsa quidem magni cumque, illo iure, dolor ipsam distinctio molestias reprehenderit laboriosam mollitia blanditiis
      impedit expedita quasi? In corporis magni nesciunt cumque laboriosam veritatis dolor veniam labore modi quasi
      obcaecati sunt aliquid quae mollitia voluptates minus illo, aspernatur, ipsa dolorem saepe qui autem animi
      laborum! Consectetur numquam mollitia unde, aperiam animi quibusdam dignissimos impedit magni dolor nesciunt quas,
      in earum, molestias omnis quisquam minus sint ducimus. Enim laboriosam reprehenderit, voluptas quo sint id a
      deserunt maiores aspernatur accusamus fugit ducimus doloremque nam, temporibus aut nobis? Possimus distinctio amet
      sapiente perferendis, sed quaerat, neque totam vel quis unde quibusdam? Doloremque, ea assumenda. Ipsa quibusdam
      odio illo voluptate voluptas. Sint iure natus odit quae quibusdam earum facilis architecto maiores esse facere
      consectetur eligendi unde enim velit voluptates molestiae, quidem itaque odio consequatur voluptatum ab vel.
      Commodi, vero sint? Temporibus doloribus eum dolor tenetur illo a ex, cupiditate accusantium voluptas
      exercitationem dolore, suscipit incidunt tempore maxime iste ipsam esse. Saepe debitis voluptate minima obcaecati
      totam non explicabo libero est vitae voluptas quae magnam tenetur quisquam voluptatibus delectus, sapiente nobis
      culpa? Perspiciatis qui voluptatem tempore doloremque molestias! Vero unde, distinctio officiis quam facere
      tempore harum quos eveniet, a, sed ex? Repellendus porro exercitationem voluptatem aperiam eius magni, voluptate
      dolores, blanditiis suscipit laborum iste odit nemo dicta. Cumque repellendus minus sequi necessitatibus, aut
      aliquid nisi mollitia quaerat quam laboriosam in voluptatem ex consectetur exercitationem unde? Mollitia
      consectetur, modi neque, vitae libero ipsa ea iusto possimus nihil aliquam at autem rerum. Explicabo excepturi
      nihil quibusdam nam animi rem id, ipsam assumenda!</p>
  </main>
</body>

</html>