.seccion-destkop1 {
    height: 100vh;
    background-image: linear-gradient(to bottom, #000000c9, #000000c0),
        url("https: //i.ibb.co/zFdKZyx/pexels-juan-pablo-serrano-arenas-894695-1.jpg");
    background-position: center;
    background-size: cover;
}
.seccion-destkop1>.mirar{
    width: 40%;
    margin-top: 10%;
    margin-left: 5%;
    background-color: rgb(92, 141, 185);
}
.mirar>.btn-mirar{
    margin-left: 40%;
}