.seccion-destkop1 {
    height: 100vh;
    background-image: linear-gradient(to bottom, #00000036, #7575755e),
    url("https://i.ibb.co/zFdKZyx/pexels-juan-pablo-serrano-arenas-894695-1.jpg");
    background-position: center;
    background-size: cover;
}
.seccion-destkop1>.mirar{
    width: 40%;
    margin-top: 10%;
    margin-left: 5%;
    color: white;
}
.mirar>.btn-mirar{
    display: inline-block;
    background: #F0EAD2;
    border-radius: 8px;
    color: #76520E;
    text-decoration: none;
    padding: 12px 60px;
    margin-left: 30%;
    margin-top: 10%;
}