#gal{
    text-align: center;
    color: rgb(40, 25, 7);
    padding-bottom: 30px;
    padding-top: 20px;
    
  }
  .seccion-galeria{
    background-image: url(../images/back-carrusel.jpg);
    background-size: cover;
    background-position: bottom;
    padding-bottom: 50px;
    padding-top: 20px;
  }
  .carousel-indicators li {
      background-color: brown;
  }
  
  .carousel-indicators .active {
      background-color: brown;
          }
  .slide{
      border: 20px solid rgb(47, 12, 12);
      margin: 0 auto;
      height: 700px;
      width: 100%;
      overflow-y: hidden;
  }
  .carousel-item{
      min-height:200px;
      height:700px;
  /*height: 100%;
  width: auto;*/
      object-fit: cover;

  }

  .carousel-inner{
  min-height:200px;
  height:700px
  /*width: 300px;*/
  }

.img{
    object-fit: cover;

}

@media(max-width:768px){
    .carousel-item{
        height: 400px;
    }
    .carousel-inner{
        height:400px;
    }
    .slide{
        height:400px;
    }
}