/*contenedor de la seccion nosotros*/
/*contenedor de la seccion sobre nosotros*/
.seccion-sobrenosotros{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../images/10.jpg);
    background-size: cover;
    background-position: bottom;
}
.seccion-sobrenosotros > .art-nosotros{
    max-width:45%;
    color:white;
}
.seccion-sobrenosotros > .img-nosotros{
    max-width: 45%;
}


/*Galeria de sobre nosotros*/
img {
    display: block;
    height: auto;
    max-width: 100%;
  }
  .contenedor {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }
  .galeria {
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(3, 200px);
  }
  
  .galeria .imagen img {
    height: 200px;
    -o-object-fit: cover;
    object-fit: cover;
    width: 300px;
    border-radius: 8px;
  }
  .galeria .imagen:first-child {
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .galeria .imagen:first-child img {
    height: 200px;
    width: 100%;
    -o-object-position: center;
    object-position: center;
  }
  .galeria .imagen:nth-child(2) {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .galeria .imagen:nth-child(2) img {
    -o-object-position: center;
    object-position: center;
    height: 420px;
    width: 100%;
  }
  .galeria .imagen:nth-child(3) {
    grid-column: 1/2;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 4;
  }
  .galeria .imagen:nth-child(3) img {
    -o-object-position: center;
    object-position: center;
    width: 100%;
    height: 70%;
  }
  .galeria .imagen:nth-child(4) {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
  }
  .galeria .imagen:nth-child(4) img {
    height: 200px;
    width: 100%;
    -o-object-position: center;
    object-position: center;
  }