/*Estilo de la seccion*/
.seccion-sobrenosotros{
    background-color: rgba(123, 198, 173, 0.512);
    height: 80vh;
    padding: 20px;
    display: flex;
    gap: 20px;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-image: url(../images/10.jpg);
    background-size: cover;
    background-position: center;
}
/*Estilo del articulo*/
.seccion-sobrenosotros > .art-nosotros{
    width: 40%;
    height: 90%;
    background-color: rgba(24, 241, 241, 0.483);
    color: white;
    text-align: center;
}
/*estilo de las imagenes de seccion nosotros*/
.art-nosotros .item{
    display: flex;
    align-items: center;
    justify-content: center;   
}
.gallery-nosotros{
    max-width: inherit;  
    display: grid;
    grid-template-columns: repeat(2, 350px);
    grid-template-rows: repeat(3,180px); 
    gap: 5px;
    background-color: rgba(24, 241, 241, 0.483);
}
.img-1 img{
    grid-column-start: 1;
    grid-column-end: 2;
    object-fit: cover;
    object-position: bottom center;
    height: 250px;
    width: 100%;
    border-radius: 8px;    
}
.img-2 img{
    object-fit:contain;
    height: 380px;
    width: 350px;    
}
.img-3 img{
    align-self: flex-end;
    object-fit:cover;
    height: 300px;
    width: 350px;    
}