.seccion-productos{
    background-image: url(../images/1.png);
    display: flex;
    gap: 20px;
    padding-block: 100px;
    margin-bottom: 20px;
    background-size: 400px;
    background-repeat: no-repeat;
    background-position: 0% 115%;
    color: var(--main-color);
}

.seccion-productos h1{
    color: var(--main-color);
    font-size: 50px;
}

.productos-grid{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.productos-1{
   width: 100%;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 10px;
   
}

.productos-2{
    background-image: url(../images/5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-width: 50%;
    min-height: 100%;
    border-radius: 15px;    
}

.productos-card img{
    max-height: 50%;
    width: 100%;
    object-fit: cover;
    object-position: center center;
}

.productos-card p{
    font-weight: 600;
}

@media(max-width: 768px){
    .seccion-productos{
        flex-direction: column;
        object-fit: contain;
        object-position: bottom;
        padding-block: 20px;
        background-image: none; 
    }
    .productos-2{
        min-width: 100%;
        min-height: 500px;
    }
    .productos-1{
        width: 100%;
    }
    .productos-card{
        padding-bottom: 30px;
    }
}